@use '../../../styles/variables' as v;

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;

  &-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  &-column {
    flex: 1 1 40rem;

    &-title {
      font-size: 2.5rem;
      margin: 0 0 1.5rem 2rem;
    }
  }
  &-box {
    border-left: 0.2rem solid v.$color-main;
  }

  &-contents {
    position: relative;
    padding-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: -1.1rem;
      top: 0;
      width: 2rem;
      height: 2rem;
      background-color: v.$color-main;
      border-radius: 50%;
    }

    &-content {
      position: relative;
      padding: 1.5rem;
      border: 0.2rem solid v.$color-main;
      border-radius: 0.6rem;
      margin-bottom: 2rem;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: v.$color-seconde-bg;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  &-year {
    font-size: 1.5rem;
    color: v.$color-main;
    padding-bottom: 0.5rem;

    &-icon {
      padding-right: 0.5rem;
    }
  }

  & h3 {
    font-size: 2rem;
  }

  & p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}
