@use './variables' as v;

@mixin titlePage {
  margin-left: 300px;
  background-color: v.$color-bgColor;
  transition: 0.3s;
  padding: 70px 30px;

  &-sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &-divider {
    width: 80px;
    height: 4px;
    background-color: v.$color-themeColor;
    border-radius: 3px;
  }

  &-sub-para {
    color: v.$color-textColor;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 15px;
  }
}

@mixin experience-ball-left {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid v.$color-themeColor;
  background-color: white;
}

@mixin experience-paragraphe {
  color: v.$color-textColor;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  font-style: italic;
}
