@use 'sass:color';

$color: #3e7fb7;
$color-dark: color.scale($color, $lightness: -50%);
$color-light: color.scale($color, $lightness: 70%);

$color-darkest: #333;
$color-lightest: #fff;

$gutter: 1rem;

$form-height: 4rem;

$color-bg: #081b29;
$color-seconde-bg: #112e42;
$color-text: #ededed;
$color-main: #00abf0;

$color-sideBGColor: #040b14;
$color-themeColor: #00a78e;
$color-iconBGColor: #2c2f3f;
$color-textColor: #353535;
$color-bgColor: #f7f7f7;
