@use '../../../styles/variables' as v;
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &-logo {
    font-size: 2.5rem;
    color: v.$color-text;
    font-weight: 600;
  }

  &-navbar a {
    font-size: 1.7rem;
    color: v.$color-text;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
  }

  &-navbar a:hover {
    color: v.$color-main;
  }
}
