@use '../../../styles/variables' as v;

.iconLogo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0.2rem solid v.$color-main;
  border-radius: 50%;
  font-size: 20px;
  color: v.$color-main;
  z-index: 1;
  overflow: hidden;

  &:hover {
    color: v.$color-bg;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: v.$color-main;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover::before {
    width: 100%;
  }
}
