@use '../../../styles/variables' as v;

.portfolio {
  margin-left: 300px;
  background-color: v.$color-bgColor;
  transition: 0.3s;
  padding: 70px 30px;
  background-color: white;

  &-sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &-divider {
    width: 80px;
    height: 4px;
    background-color: v.$color-themeColor;
    border-radius: 3px;
  }

  &-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
}
