@use '../../../styles/variables' as v;
@use '../../../styles/mixin' as m;

.portfolio {
  @include m.titlePage;

  &-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
}
