@use '../../../styles/variables' as v;

.contact {
  margin-left: 300px;
  background-color: v.$color-bgColor;
  transition: 0.3s;
  padding: 70px 30px;
  background-color: white;

  &-sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &-divider {
    width: 80px;
    height: 4px;
    background-color: v.$color-themeColor;
    border-radius: 3px;
  }

  &-sub-para {
    color: v.$color-textColor;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 15px;
  }

  &-left {
    min-width: 90%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 30px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-icon-box {
      display: flex;
      gap: 15px;
      align-items: center;
      margin: 30px 30px;
    }
  }
}

.iconContact {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid v.$color-themeColor;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  color: v.$color-themeColor;
  transition: 0.5s;
  padding: 8px;
  font-size: 30px;
}
.lien-mail {
  cursor: pointer;
}
.icon:hover .iconContact {
  background-color: v.$color-themeColor;
  color: v.$color-bgColor;
}

.info h4 {
  font-size: 20px;
  color: v.$color-sideBGColor;
  font-weight: 600;
}

.info p {
  color: v.$color-textColor;
}

@media only screen and (max-width: 1280px) {
  .contact-left {
    flex-direction: column;

    &-icon-box {
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .contact {
    margin-left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .contact {
    padding: 35px;

    &-row {
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact {
    padding: 35px 10px;
  }
}
